body {
    background: slategrey;
    margin: 0;
}
#map {
    box-sizing: border-box;
	width: 98vw;
	height: 85vh;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px 1px;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    width: 90vw;
    height: 7vh;
    margin: 10px auto;
    border: 1px dashed black;
    text-align: center;
    padding: 10px;
    background-color: darkgrey;
    box-shadow: 0px 0px 10px 1px;
    font: 14px/16px Arial, Helvetica, sans-serif;
}

.header h2, .header h4 {
    margin: 5px;
}

.leaflet-control-dialog, .leaflet-popup-content-wrapper {
    background-color: lightgrey !important;
}
